@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
  background-color: rgba(224,241,231,255);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Overpass", sans-serif;
}

.contain{
  width:500px;
  height: 550px;
  margin: auto;
  background-color: white;
  border-radius: 10px;
  font-size: 10px;
  color: grey;

}

.inp1{
  padding-left: 45px;
}


.inp1 input{
  margin-top: 6px;
  width:150px;

}

.inp2{
  position: relative;
  left :55%;
  top:-54px;
}

.inp2 input{
  margin-top: 6px;
  width: 150px;

}

.inp3{
  border: 1px solid red;
padding-left: 45px;
  
  
}

.inp3 input{
  width:70%;
  height: 22px;
  margin-top: 4px;
}